body {
    padding: 50px;
}

.main {
    width: 800px;
    margin: auto;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
}

.text {
    display: flex;
    justify-content: center;
    font-family: fantasy;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

label {
    font-family: fantasy;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0 10px 0;
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
}

.submit_btn {
    width: 600px;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: auto;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.submit_btn:hover {
    background-color: #45a049;
}