.main {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    padding: 100px;
}


.view {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
}

.view:hover {
    background-color: #45a049;
}
