.main {
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    margin: 20px;
}

th {
    background: #BCEBDD;
    color: black;
    padding: 10px 20px;
}

td {
    background-color: bisque;
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: black;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.add {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.add:hover {
    background-color: #45a049;
}
